body {
  font-family: "Hero", sans-serif;
  width: 80vw;
  margin: auto;
  background-color: black;
}

.container {
  color: white;
  background-color: #1f2937;
  padding: 16px 15% 8% 15%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  gap: 16px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.item {
  display: flex;
  justify-content: space-between;
  width: 45%;
  padding: 16px;
  padding-right: 0;
}

a {
  text-decoration: none;
  color: white;
}

.section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 48px;
  margin-bottom: 0;
}

.content1 {
  display: flex;
  flex-flow: row wrap;
  width: 45%;
}

.image-placeholder {
  background-color: #eee;
  justify-content: center;
  display: flex;
  height: 180px;
  width: 40%;
}

.image-placeholder > h4 {
  align-self: center;
  text-align: center;
  color: grey;
}

button {
  background-color: rgb(53, 104, 234);
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
}

.container2 {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 16px 15% 8% 15%;
}

.section2 {
  color: black;
  background-color: white;
}

.section2 > h2 {
  text-align: center;
  padding-bottom: 24px;
}

.section2-box-container {
  display: flex;
  justify-content: space-around;
  padding: 16px;
}

.box {
  margin: 0 auto;
  height: 150px;
  width: 150px;
  border: 2px solid #3882f6;
  border-radius: 8px;
}

.container2 p {
  text-align: center;
}
